<!-- header to display title of the page -->
<!-- icon sourced from https://pixabay.com/vectors/books-icon-book-icon-symbol-set-1673578/ -->
<header>
    <img src="/css/icon.png"/>
    <h2>Ipsum Book Store</h2>
    
</header>