<!-- creating a navbar to go to home and author -->
<nav class="nav_menu">
    <ul>
        <li><a href="/add">Add Page</a></li>
        <li><a href="/editPages">Edit Pages</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>